/paste-service
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

/.idea/
/.vscode/
/.vs/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db 